.color {
    background-color:#ffffff
}

.background {
    display: flex;
}

.search {
    background-color:#f0f0f0;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 300px;
    padding-left: 300px;
    margin-left: 170px;
    margin-right: 100px;
    border-radius: 20px;
    justify-content: center;
    cursor: text;
}

.head {
    color: #495057;
    opacity: 1;
    font-size: 25px;
    font-weight: 600;
    margin-left: 45px;
}

.line {
    border-bottom: 0.5px solid #d1d1d1; /* 수평선의 두께와 색상을 설정합니다. */
    width: 65%;
    opacity: 0.8;
    margin-left: 400px;
}