.color {
    background-color:#ffffff
}

.background {
    display: flex;
}

.background_head{
    display: flex;
    justify-content: space-between;
    flex-grow: 1; /* 새로 추가한 부분 */
}

.search {
    min-width: 300px; 
}

.head {
    color: #495057;
    opacity: 1;
    font-size: 25px;
    font-weight: 600;
    margin-left: 45px;
}

.line {
    border-bottom: 0.5px solid #474747; /* 수평선의 두께와 색상을 설정합니다. */
    width: 64%;
    opacity: 0.9;
    margin-left: 400px;
}
