/* Profile.module.css */
.background {
    background-color: #f0f0f0;
    margin-top: 80px;
    margin-bottom: 30px;
    border-radius: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.information {
    padding-left: 15px; 
    padding-right: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    line-height: 2;
    width: 200px;
}

.subject {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* 원하는 줄 수 */
    -webkit-box-orient: vertical;
    white-space: nowrap; /* 줄 바꿈을 막습니다. */
}

.location {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.circle {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.managercircle {
    position: absolute;
    top: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border-radius: 50%;
    transform: translateX(-50%);
    overflow: hidden;
}

.managercircle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.process {
    display: flex;
    justify-content: center;
    width: 100%; /* 추가: process 클래스의 너비를 100%로 설정 */
}

.managebg {
    background-color: #f0f0f0;
    margin-top: 80px;
    margin-bottom: 10px;
    border-radius: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
    width: 220px; /* 추가: managebg 클래스의 너비를 220px로 설정 */
}

.ing {
    background-color: #f0f0f0;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 30px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; 
    width: 100%; /* 추가: ing 클래스의 너비를 100%로 설정 */
    text-align: center; /* 추가: 텍스트 가운데 정렬 */
}

.end {
    background-color: #68568E;
    color: #ffffff;
    border-radius: 15px;
    margin-left: 5px;
    margin-bottom: 30px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px; 
    cursor: pointer;
    text-align: center; /* 추가: 텍스트 가운데 정렬 */
    width: 100%; /* 추가: end 클래스의 너비를 100%로 설정 */
}

.end:hover {
    background-color: #A499BB;
}

.status-apply {
    background-color: rgb(101, 103, 233);
    color: #ffffff;
}

.status-progress {
    background-color: rgb(33, 228, 33);
    color: #ffffff;
}

.status-end {
    background-color: rgb(212, 33, 33);
    color: #ffffff;
}

.ribbon {
    left: 180px; /* 필요한 만큼의 값으로 조정 */
}

/* 추가된 one 클래스 */
.one {
    width: 100%; /* one 클래스의 너비를 100%로 설정 */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 15px;
    /* padding: 10px 20px; */
    font-weight: 400;
    margin-bottom: 10px;
    text-align: center; /* 텍스트 가운데 정렬 */
}
