.background{
    background-color:#f0f0f0;
    margin-top: 80px;
    /* padding-top: 110px;
    padding-bottom: 110px; */
    margin-bottom: 30px;
    /* padding-left: 100px;
    padding-right: 100px; */
    border-radius: 30px;
    position: relative;
    margin-left: 10px;
    margin-right: 10px;
}

.information{
    padding-left: 15px; 
    padding-right: 15px;
    margin-top: 15px;
    padding-bottom: 15px;
    line-height: 2;
}

.circle{
    position: absolute;
    top: -50px; /* 원형 영역을 body4 위쪽으로 이동 */
    left: 50%; /* 가운데 정렬 */
    width: 100px; /* 원의 지름 */
    height: 100px; /* 원의 지름 */
    background-color: #ccc; /* 배경색 */
    border-radius: 50%; /* 원형으로 만들기 */
    transform: translateX(-50%); /* 가운데 정렬을 위한 이동 */
    overflow: hidden; /* 넘치는 부분을 잘라냅니다. */
}

.circle img {
    width: 100%; /* 이미지의 너비를 100%로 설정합니다. */
    height: 100%; /* 이미지의 높이를 100%로 설정합니다. */
    object-fit: cover; /* 이미지를 원형 영역에 맞게 조절합니다. */
}