.site-layout-content {
  min-height: 280px;
  padding: 24px;
}
.logo {
  float: left;
  width: 120px;
  /* height: 31px; */
  /* margin: 16px 24px 16px 0; */
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}

.ant-btn.custom-button-hover:hover {
  /*.ant-btn only needed if .ant-btn:hover specified elsewhere*/
  background-color: purple;
  border: 2px solid orange;
  border-radius: 4px;
}

.background {
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 40px;
  padding-left: 70px;
  padding-right: 50px;
  border-bottom-left-radius: 350px;
}

.menu {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 250px;
  color: #495057;
  font-size: 15px;
  font-weight: 600;
  margin-top: 10px;
}

.logo {
  color: #495057;
  font-size: 25px;
  font-weight: 900;
  font-family: "Comic Sans MS", cursive;
}

.img img {
  width: 20px;
  height: 18px;
  margin-top: 10px;
}
